{% extends 'base.twig' %}

{% block title %}Books{% endblock %}

{% block content %}
<h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books</h3>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/book">View all books</a></li>
  <li role="presentation"><a href="/book/add">Add book</a></li>
</ul>
<div class="row">
    <div id="result">
        <table class="table">
            <thead>
                <tr>
                    <th>Book name</th>
                    <th>Book author</th>
                    <th>Change holder to</th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>{{ book.b_name }}</td>
                <td>{{ book.b_author }}</td>
                <td>
                   <form action="/book/change" method="POST">
                        <input type="hidden" id="_method" name="_method" value="PUT" />
                        <input type="text" hidden="hidden" name="b_id" value="{{ book.b_id }}">
                        <select class="form-control" name="p_id">book in the library
                            <option value="NULL">Book in the library</option>
                            {% for people in people %}
                            <option value="{{ people.p_id }}">{{ people.p_name }}&nbsp;{{ people.p_lastname }}</option>
                            {% endfor %} 
                        </select>                           
                </td>
                <td>
                    <button type="submit" class="btn btn-default">Change</button>
                    </form
                </td>
            </tr>            
       </table>
    </div>              
</div>
{% endblock %}