{% extends 'base.twig' %}

{% block title %}Books{% endblock %}

{% block content %}
<h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books</h3>
<ul class="nav nav-pills">
  <li role="presentation"><a href="/books">View all</a></li>
  <li role="presentation"><a href="/books/add">Add</a></li>
</ul>
<div class="row">
    <div class="col-lg-7 col-md-6 " id="result">
        <table class="table">
            <thead>
                <tr>
                    <th>Book name</th>
                    <th>Book author</th>
                    <th>Change holder to</th>
                    <th></th>
                </tr>
            </thead>
        {% for book in book %}
            <tr>
                <td>{{ book.book_name }}</td>
                <td>{{ book.book_author }}</td>
                <td>
                   <form action="/books/change/" method="get">
                    <input type="text" hidden="hidden" name="book_id" value="{{ book.book_id }}">
                    <select class="form-control" name="people_id">
                        {% for people in people %}
                        <option value="{{ people.id }}">{{ people.name }}{{ people.lastname }}</option>
                        {% endfor %} 
                    </select>                           
                </td>
                <td>
                    <button type="submit" class="btn btn-default">Change</button>
                    </form
                </td>
            </tr>            
       {% endfor %}
       </table>
    </div>              
</div>
{% endblock %}